{
	"architecture": {
		"existing_model": false,
		"param_file": "pretrained/bvlc_alexnet.npy",
		"model_scope": "cnn_mnist",
		"sharing": false,
		"structure": ["conv", "conv", "fc"]
	},
	"layers": {
		"input_size": [1, 28, 28],
		"nkerns": [96, 128, 10],
		"kern_size": [11, 5, 3, 3, 3],
		"activation": ["sin", "sin", "softmax"],
		"conv_padding": ["half"],
		"conv_stride": [1, 1],
		"deconv_stride": [1, 32, 32, 1],
		"deconv_output_shape": [],
		"pooling": [true, true, false],
		"pooling_method": ["max"],
		"pool_size": [2, 2],
		"pool_stride": [2, 2],
		"pool_type": [[0, 0]],
		"weight_norm": [false],
		"batch_norm": [false],
		"dropout": [false, false, false],
		"dropout_prob": 0.5
	},
	"optimization": {
		"cost_function": "ce_multinoulli",
		"class_weights": [],
		"method": "adam",
		"learning_rate": 1e-4,
		"min_learning_rate": "None",
		"momentum": 0.99,
		"epsilon": 1e-6,
		"rho": 0.95,
		"beta1": 0.9,
		"beta2": 0.999,
		"nesterov": false,
		"regularization": false,
		"regularization_type": "L2",
		"regularization_coeff": 1e-4,
		"decrease_factor": 5,
		"final_learning_rate": 1e-9,
		"epochs_check_learn_rate": 7
	},
	"training": {
		"n_epochs": 200,
		"batch_size": 200,
		"continue": true,
		"display_cost": true,
		"multi_gpus": false
	},
    "testing": {
		"batch_size": 1,
		"get_output": true
	},
	"save_load": {
		"save_model": true,
		"checkpoint": "cnn_mnist.pkl",
		"checkpoint_dir": "",
		"extract_params": true,
		"param_file": "mnist_alxn16.prm"
	},
	"summary_dir": ""
}