{
	"architecture": {
		"existing_model": false,
		"param_file": "pretrained/bvlc_alexnet.npy",
		"model_scope": "cnn_mnist",
		"sharing": false,
		"structure": ["conv", "conv", "fc", "fc"]
	},
	"layers": {
		"input_size": [1, 28, 28],
		"nkerns": [96, 256, 512, 10],
		"kern_size": [11, 5, 3, 3, 3],
		"activation": ["relu", "relu", "relu", "softmax"],
		"conv_padding": ["half"],
		"conv_stride": [1, 1],
		"deconv_stride": [1, 32, 32, 1],
		"deconv_output_shape": [],
		"pooling": [true, true, false, false],
		"pooling_method": ["max"],
		"pool_size": [2, 2],
		"pool_stride": [2, 2],
		"pool_type": [[0, 0]],
		"weight_norm": [false],
		"batch_norm": [true, true, true, false],
		"dropout": [false, false, false, false],
		"keep_prob": 0.5,
		"dropout_gauss": [false]
	},
	"optimization": {
		"cost_function": "ce_multinoulli",
		"class_weights": [],
		"method": "adam",
		"learning_rate": 1e-2,
		"decrease_factor": 1,
		"final_learning_rate": 1e-6,
		"last_iter_to_decrease": 1000,
		"momentum": 0.99,
		"epsilon": 1e-6,
		"rho": 0.95,
		"beta1": 0.9,
		"beta2": 0.999,
		"nesterov": false,
		"regularization": false,
		"regularization_type": "L2",
		"regularization_coeff": 1e-4
	},
	"training": {
		"n_epochs": 200,
		"batch_size": 500,
		"continue": false,
		"checkpoint": "checkpoints/run17/model.mdl",
		"display_cost": true,
		"multi_gpus": false
	},
    "testing": {
		"batch_size": 1,
		"get_output": true
	},
	"save_load": {
		"save_model": false,
		"checkpoint": "checkpoints/run4/model.mdl",
		"checkpoint_dir": "",
		"extract_params": false,
		"param_file": ""
	},
	"summary_dir": ""
}