{
	"architecture": {
		"existing_model": false,
		"param_file": "pretrained/bvlc_alexnet.npy",
		"model_scope": "vgg16",
		"sharing": false,
		"structure": ["conv", "conv", "conv", "conv", "conv", "conv", "conv", "conv", "conv", "conv",
			"conv", "conv", "conv", "fc", "fc", "fc"]
	},
	"layers": {
		"input_size": [3, 224, 224],
		"nkerns": [64, 64, 128, 128, 256, 256, 256, 512, 512, 512, 512, 512, 512, 4096, 4096, 1],
		"kern_size": [3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3],
		"activation": ["relu", "relu", "relu", "relu", "relu", "relu", "relu", "relu", "relu", "relu",
			"relu", "relu", "relu", "relu", "relu", "sigmoid"],
		"conv_padding": ["half"],
		"conv_stride": [1, 1],
		"deconv_stride": [1, 32, 32, 1],
		"deconv_output_shape": [],
		"pooling": [false, true, false, true, false, false, true, false, false, true, false, false, true],
		"pooling_method": ["max"],
		"pool_size": [2, 2],
		"pool_stride": [2, 2],
		"pool_type": [[0, 0]],
		"batch_norm": [false],
		"dropout": [false, false, false, false, false, false, false, false, false, false, false, false,
			false, true, true, false],
		"keep_prob": 0.05,
		"dropout_gauss": [false, false, false, false, false, false, false, false, false, false, false, false,
			false, false, false, false]
	},
	"optimization": {
		"cost_function": "ce_binary",
		"class_weights": [],
		"method": "sgdmomentum",
		"learning_rate": 1e-2,
		"decrease_factor": 5,
		"final_learning_rate": 1e-6,
		"last_iter_to_decrease": 1000,
		"momentum": 0.99,
		"epsilon": 1e-6,
		"rho": 0.95,
		"beta1": 0.9,
		"beta2": 0.999,
		"nesterov": false,
		"regularization": true,
		"regularization_type": "L2",
		"regularization_coeff": 1e-4
	},
	"training": {
		"n_epochs": 200,
		"batch_size": 50,
		"continue": false,
		"checkpoint": "checkpoints/run17/model.mdl",
		"display_cost": true,
		"multi_gpus": false
	},
    "testing": {
		"batch_size": 1,
		"get_output": true
	},
	"save_load": {
		"save_model": true,
		"checkpoint": "checkpoints/run4/model.mdl",
		"checkpoint_dir": "",
		"extract_params": false,
		"param_file": "vgg_dog_cat.npz"
	},
	"summary_dir": ""
}